
body{
  margin: 0px;
  padding-top: 100px;
  text-align: center;
  position: relative;
  /* font-family: verdana, sans-serif; */
  font-family: 'Noticia Text', serif;
  color: #40514E;
}
a{
  margin: 20px;
}
a:hover{
  color: #EAF6F6;
}
h1{
  margin-top: 0;
  font-size: 5.62rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
  margin-bottom: 0;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  margin-top: 0;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}
hr{
  border-color: #EAF6F6;
  /* border-width: 0 5px 0 0; */
  size  10px;
  border-style: dotted none none none;
  border-width: 10px;
  width: 10%;
  letter-spacing: 4px;
  height: 20;
  margin: 100px auto;
}

.nit{
  width: 10%;
  float: left;
  margin: 0 30px;
}
.camino{
  width: 25%;
  margin: 0 30px;
  float: right;
}
.top-cloud{
  position: absolute;
  right:  500px;
  top: 50px;
  background-color: #EAF6F6;
}
.bottom-cloud{
  position: absolute;
  left: 450px;
  top: 250px;
}
.skills{
  margin-bottom: 100px;
}
.skill-row{
  margin: 50px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.justify-left2{
  line-height: 2;
}
.profile{
  width: 30%;
  margin-bottom: 30px;
  margin: 50px auto;
}

.top1-div{
  background-color: #EAF6F6;
}
.bottom-container{
  color: #EAF6F6;
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 30px;
}
.footer-link{
  color: #11999E;

}
.contact-me{
  width: 30%;
  margin-bottom: 30px;
  margin: 50px auto;
}
.btn{
    background-image: linear-gradient(#66BFBF, #11999E);
    /* background-color: #; */
    font-size: 1rem;
    text-decoration: none;
    margin-top: 120px;
    padding: 10px 30px;
    border-radius: 10px;
    color: #EAF6F6;
    letter-spacing: 4px;
}
.btn:hover{
  /* color: red; */
  /* background-color: #88BFBF; */
  /* background-image: none; */
  background-image: linear-gradient(#22999E, blue); */
}

/*
.top1-div{
  background-color: #66bfbf;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  padding: 20px;
  width:200px;
  height: 200px;
}


.top-div{
  background-color: red;
  border-style: solid;
  border-width: 20px;
  margin-left: 260px;
  width:200px;
  height: 200px;
}
.middle-div{
  border-style: solid;
  border-width: 10px;
  margin-left: 500px;
  background-color: yellow;
  width:200px;
  height: 200px;
} */
